body{
    background:#CCCCCC;
    padding:0px;
    margin:0px;
}
.locabox{
    padding:5px;
    margin-bottom:5px;
    border:1px solid grey;
    width:33%;
    float:left;
    margin:10px;
    height:160px;
    background-color:white
}

#datosGame{
    background-color:#333333;
    border-bottom:3px solid #111111;
    color:white;
    padding:20px;
    margin-bottom:20px;
}
#datosGame span{
    font-weight: bold;
    margin-right:20px;
}
#datosGame .boton{
    margin-top:-5px;
}
.pjbox{
    padding:10px;
    margin-bottom:10px;
    border:1px solid grey;
    height:80px;
    background-color:white;
    cursor:pointer;
}
#contenido{

}
#columnaPj{
    float:left;
    width:25%;
}
#columnaLocalizaciones{
    float:left;
    width:75%;
}
#campamento{
    float:left;
    width:50%;
}
.boton{
    float:right;
    padding:5px;
    margin:5px;
    background-color: #666666;
    color:white;
    font-size:20px;
    width:200px;
    text-align: center;
}
.huechz{
    float:right;
    width:10px;
    height:10px;
    border:1px solid #004400;
    margin-left:5px;
}
.huechs{
    float:right;
    width:10px;
    height:10px;
    border:1px solid red;
    margin-left:5px;
}
.huechsl{
    background-color:red;
    font-size:10px;
    color:white;
    text-align: center;
}
.huechzl{
    background-color:#004400;
    font-size:10px;
    color:white;
    text-align: center;   
}
.pjimg{
    width:60px;
    height:60px;
    border:1px solid black;
    float:left;
}
.pjdatos{
    margin-left:70px;
}
.pjdatos b{
    font-size:20px;
    text-transform: capitalize;
}
.locaimg{
    border:1px solid black;
    height:80px;
    margin-bottom:10px;
}
.localizacionimg{
    height:80px;
    border:1px solid black;
    background-color: #AAAAAA;
    margin-bottom:10px;
}
.localizacionimg div{
    font-size:20px;
    text-align: center;
    padding:25px;
    font-weight: bold;
}
.pjatributos{
    height:20px;
    margin-left:70px;
}
.tercio{
    float:left;
    width:33.3%;
}